/* Navbar menu */
.menu {
    width: 100%; height: 50px;
    border-bottom: 10px solid #37f;
    background-color:black;
    
  }
  
  li {
    float: left;
  }
  
  li a {  
    display: inline-block;
    color: white;
    text-align: center;   
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 10px;
    transition: .5s;
    padding: 15px 15px;
    text-align: center;
    
  }
  
  li a:hover:not(.active) {
    background-color: #37f;
    font-weight: bolder;
  }

  .body {
      background: black;
  }
/* Image */
.img {
    display: block;  
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

.responsive{
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    }

/* Text */
.h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #37f;
        margin-top: 50px; 
        margin-bottom: 50px; 
        font-family: sans-serif;
        font-weight: bold;
        font-style: italic;
    }

.i {
        border: solid #37f;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-bottom: 50px;
        margin-top: 50px;

    }

.border {
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: #37f;
        border-width: 10px;
        width: 100%;
    }

/* Icon-Font Awesome */
.fa{
    color: #37f;
    padding: 15px;
    width: auto;
    text-align: center;
    text-decoration: none;
    }
    .fa a:hover:not(.active) {
        background-color: #37f;
        font-weight: bolder;
        color: black;
        width: auto;
        border-radius: 10px;
        
    }

/* Menu - Right side */
.li {
      float: right;
}

/* For segments that need btm border only */
.borderbtm {
  border-bottom-style: solid;
  border-color: #37f;
  border-width: 10px;
  width: 100%;
}

/* For segments that need btm border only */
.bordertop {
  border-top-style: solid;
  border-color: #37f;
  border-width: 10px;
  width: 100%;
}

/* Cards */
* {
  box-sizing: border-box;
}

.bodycard {
  font-family: sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.rowafter {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
  background-color: #37f;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
  border-radius: 10px;
  
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1200px) {
  .responcolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #37f;
  font-family: sans-serif;
 }

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #37f;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid #37f;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

.h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:black;
  margin-top: 50px; 
  margin-bottom: 50px; 
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #37f;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #37f;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #37f;
  border-width: 10px 10px 10px 0;
  border-color: transparent #37f transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #37f;
  position: relative;
  border-radius: 6px;
  border-color: #37f;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    background-color: #37f;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: #37f;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: white;
}

/* Style the collapsible content. Note: hidden by default */
.contentcoll {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 